/*regole comuni*/
.ms_text-family{
    font-family: Arial, Helvetica, sans-serif;
}

.ms_rounded-4{
    border-radius: 20px;
}

/*regole per logo con scritta*/
.ms_img-ps_plus,
.ms_img-ps_now,
.ms_img-new-release{
    width: 300px;
}

/*regole per i bottoni*/
.ms_btn-dark_grey{
    background-color: #363636;
    color: #fff;
}
.ms_btn-orange{
    background-color: #cd3d0f;
    color: #fff;
}

.ms_btn-grey{
    background-color: #d9dadc;
    color: #3469e6;
}

.ms_btn-blue{
    background-color: #2d64e6;
    color: #fff;
}
/*regole dei background color*/
.ms_new-releases_bg{
    background-color: #1f1f1f;
}

.ms_ps-plus_bg{
    background-color: #bebcbb;
}

.ms_ps-now_bg{
    background-color: #161c3b;
}

.ms_footer_bg{
    background-color: #00439c;
}
/*regole dell'header*/
.ms_img-header{
    width: 5em;
    margin:10px;
}

.ms_lens-header{
    width: 30px;
}

.ms_chevron{
    width: 10px;
}
.ms_dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #000;
    text-align: inherit;
    text-decoration: none;
    background-color: transparent;
    border: 0;
  }

ul li a.bullet::before {
    content: "\2022";
    color: #2b70d1;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

a.show .ms_chevron{
    transform: rotate(180deg);
}

/*regole del jumbotron*/
.ms_jumbo-bg{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 108px;  
}

.ms_jumbo-mt{
    margin-top: 400px;
}

.ms_jumbo-logo{
    width: 200px;
}

/*regole della thumbs*/

.ms_thumbs-hover:hover{
    transform: translateY(-15%); 
    transition: 0.1s ;
}

.ms_border-blue{
    border: solid 2px #0072ce;
    padding: 3px;  
}

/*regole Products*/
.ms_border-bottom-blue{
    border-bottom: solid 2px #fff; 
    
}
.ms_border-bottom-blue.active{
    border-color: #0072ce;
}

.ms_border-bottom-blue.active .ms_opacity{
    opacity:1;
}
.ms_border-bottom-blue:hover{
    border-color: #0072ce;
}

.ms_opacity{
    opacity: 0.5;
}

.ms_border-bottom-blue:hover .ms_opacity{
    opacity: 1;
}
/*regole new-releases*/
.ms_new-release-bg{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


/*regole ps-plus*/


/*regole di ps-now*/

/*regole del footer*/
.ms_footer_globe-img{
    width: 20px;
}

.ms_list-decoration{
  list-style: none;
}

.ms_footer_sie-img{
    width: 100px;
}


